.item-todos {
  // height: 80vh;
  // overflow-y: auto;
  // padding-right: 0.5rem;
}

ul.list-item-todos {
  list-style: none;
  font-size: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-grow: 1;

  li.todo-item {
    display: flex;
    margin: 0.25rem 0;
    padding: 0.35rem;
    justify-content: space-between;
    // align-items: center;
    flex-direction: column;
  }
}

.item-todo-status-finished {
  text-decoration: line-through;
}
