.f-w {
  width: 100%;
}

.f-h {
  height: 100%;
}

.p-0 {
  padding: 0px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-35 {
  padding: 35px;
}

.p-40 {
  padding: 40px;
}

.p-50 {
  padding: 50px;
}

.p-l-5 {
  padding-left: 5px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-l-25 {
  padding-left: 25px;
}

.p-l-30 {
  padding-left: 30px;
}

.p-l-35 {
  padding-left: 35px;
}

.p-l-40 {
  padding-left: 40px;
}

.p-l-50 {
  padding-left: 50px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-r-25 {
  padding-right: 25px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-r-35 {
  padding-right: 35px;
}

.p-r-40 {
  padding-right: 40px;
}

.p-r-50 {
  padding-right: 50px;
}

.p-t-5 {
  padding-top: 5px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-25 {
  padding-top: 25px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-t-35 {
  padding-top: 35px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-50 {
  padding-top: 50px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-b-35 {
  padding-bottom: 35px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-x-5 {
  padding: 0 5px;
}

.p-x-10 {
  padding: 0 10px;
}

.p-x-15 {
  padding: 0 15px;
}

.p-x-20 {
  padding: 0 20px;
}

.p-x-25 {
  padding: 0 25px;
}

.p-x-30 {
  padding: 0 30px;
}

.p-x-35 {
  padding: 0 35px;
}

.p-x-40 {
  padding: 0 40px;
}

.p-x-50 {
  padding: 0 50px;
}

.p-y-5 {
  padding: 5px 0;
}

.p-y-10 {
  padding: 10px 0;
}

.p-y-15 {
  padding: 15px 0;
}

.p-y-20 {
  padding: 20px 0;
}

.p-y-25 {
  padding: 25px 0;
}

.p-y-30 {
  padding: 30px 0;
}

.p-y-35 {
  padding: 35px 0;
}

.p-y-40 {
  padding: 40px 0;
}

.p-y-50 {
  padding: 50px 0;
}

.m-0 {
  margin: 0px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.m-30 {
  margin: 30px;
}

.m-35 {
  margin: 35px;
}

.m-40 {
  margin: 40px;
}

.m-50 {
  margin: 50px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-25 {
  margin-left: 25px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-l-35 {
  margin-left: 35px;
}

.m-l-40 {
  margin-left: 40px;
}

.m-l-50 {
  margin-left: 50px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-25 {
  margin-right: 25px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-r-35 {
  margin-right: 35px;
}

.m-r-40 {
  margin-right: 40px;
}

.m-r-50 {
  margin-right: 50px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-35 {
  margin-top: 35px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-35 {
  margin-bottom: 35px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-x-5 {
  margin: 0 5px;
}

.m-x-10 {
  margin: 0 10px;
}

.m-x-15 {
  margin: 0 15px;
}

.m-x-20 {
  margin: 0 20px;
}

.m-x-25 {
  margin: 0 25px;
}

.m-x-30 {
  margin: 0 30px;
}

.m-x-35 {
  margin: 0 35px;
}

.m-x-40 {
  margin: 0 40px;
}

.m-x-50 {
  margin: 0 50px;
}

.m-y-5 {
  margin: 5px 0;
}

.m-y-10 {
  margin: 10px 0;
}

.m-y-15 {
  margin: 15px 0;
}

.m-y-20 {
  margin: 20px 0;
}

.m-y-25 {
  margin: 25px 0;
}

.m-y-30 {
  margin: 30px 0;
}

.m-y-35 {
  margin: 35px 0;
}

.m-y-40 {
  margin: 40px 0;
}

.m-y-50 {
  margin: 50px 0;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.font-uppercase {
  text-transform: uppercase;
}

.font-lowercase {
  text-transform: lowercase;
}

.header-page {
  font-size: 1.2rem;
  font-weight: 400;
  flex: 1;
  display: block;
  padding: 0.75rem 0;
}

Button .MuiButton-label {
  font-size: 0.85rem;
  font-weight: 400;
}
